.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  }
  
  .home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .toggle-button-group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  